<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
    <h2 class="m-2">Your Password is:</h2>
    <h3 class="alert alert-success">{{password}}</h3>
    <a href="{% url 'index' %}">Home</a>
</div>
<script>
    document.body.onkeyup = function(e){
    if(e.keyCode == 32){
        //your code
        location.reload();
    }
}
</script>

